################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Amazon/DesignTimeBuild
/.vs/Amazon/v16
/.vs
/Arrays/obj
/Searching/obj
/Arrays/Arrays.csproj.user
/Arrays/bin/Debug/netcoreapp3.1
/Searching/bin/Debug/netcoreapp3.1
/Searching/Searching.csproj.user
